:host {
  button {
    background: #1B79C8;
    width: 100%;
    padding: 20px 0;
    color: #fff;
    outline: none;
    font-weight: 500;

    @media (min-width: 960px) {
      background: #fff;
      width: auto;
      min-width: 130px;
      padding: 7px 30px;
      color: #000;
      font-weight: 400;
      border: 2px solid #1B79C8;
      border-radius: 99px;
    }
  }
}
